 <h1>Login</h1>











<div class="col-lg-6 mx-lg-auto card shadow mt-5">

  <div class="card-header">
   <h3 class="card-title text-center">Form</h3>
 </div>
<div class="card-body">
  <%= form_with  method: :post, url:login_path  do |form| %>



 <div class="form-group mb-2">
 <%= form.label :email %><br>
  <%= form.email_field :email, class: "form-control form-control-lg"%>
</div>
<div>
  <%= form.label :password %><br>
  <%= form.password_field :password , class: "form-control form-control-lg"%>
</div >




<div>
  <%= form.submit "submit",class: "btn btn-primary btn-lg mt-3"  %>
</div>
<% end %>




</div>
</div>


